<ion-header>
<!--  <ion-toolbar>-->
<!--    <ion-title>ServerAdress</ion-title>-->
<!--  </ion-toolbar>-->
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="assets/albums-outline.svg" alt="deckNG logo">
  </div>

  <form #loginForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label color="primary" position="floating" translate="">server_url</ion-label>
        <ion-input [(ngModel)]="login.url" name="url" placeholder="https://xxx.xxx.xx" type="text" #url="ngModel" spellcheck="false" autocapitalize="off"
                   autocorrect="off" autofocus="on" clearInput="true" color="primary" inputmode="text" required="true">
        </ion-input>
        <ion-note slot="helper">The link to your Nextcloud web interface when you open it in the browser</ion-note>
        <ion-note slot="error">Invalid email</ion-note>
<!--        <ion-label color="primary" translate="">The link to your Nextcloud web interface when you open it in the browser</ion-label>-->
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="url.valid || submitted === false" class="ion-padding-start" translate="">
          url_required
        </p>
      </ion-text>
      <ion-button (click)="onBarcode(loginForm)" ><ion-icon name="barcode-outline"></ion-icon></ion-button>
    </ion-list>
  </form>


</ion-content>
