<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/" text="" ></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="board | async">
      <ion-label>{{ (board | async).title }}</ion-label>
      </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar disabled="true"></ion-searchbar>
    <ion-buttons slot="primary">
      <ion-button id="open-modal" expand="block" disabled="true">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Filter</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-chip *ngFor="let stack of (stacks | async)" >
              {{stack.title}}
            </ion-chip>
          </ion-item>
          <ion-item *ngIf="(board | async).labels">
            <ion-chip *ngFor="let stack of (board | async).labels" >
              {{stack.title}}
            </ion-chip>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-toolbar>
<!--  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="selectedStack" scrollable="true">-->
<!--    <ion-segment-button *ngFor="let stack of (stacks | async)" value="{{stack.id}}">-->
<!--      <ion-label>-->
<!--        {{stack.title}}-->
<!--      </ion-label>-->
<!--    </ion-segment-button>-->
<!--    <ion-segment-button layout="icon-end" disabled="true"><ion-label><ion-icon name="add"></ion-icon></ion-label></ion-segment-button>-->
<!--  </ion-segment>-->

</ion-header>
  <ion-fab horizontal="end" vertical="center" slot="fixed" edge>
    <ion-fab-button (click)="promptTitle()" [disabled]="!stackIsSelected()" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<ion-content [fullscreen]="true"  *ngIf="!isLoading">
<!--  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">-->
<!--    <ion-refresher-content></ion-refresher-content>-->
<!--  </ion-refresher>-->

<!--  <div padding >-->
<!--    <ion-segment scrollable="true" [(ngModel)]="selectedStack" (ionChange)="segmentChanged($event)" >-->
<!--      <ion-segment-button *ngFor="let stack of stacks | async" [value]="stack" >-->
<!--        {{stack.title}}-->
<!--      </ion-segment-button>-->
<!--    </ion-segment>-->
<!--  </div>-->

  <ion-slides #swiper>
  <ion-slide cdkDropListGroup scrollable="true" *ngFor="let stack of stacks | async"  style="width:100%">
      <ion-list cdkDropList="true" [cdkDropListData]="stack.cards" style="width:100%">
        <ion-item *ngFor="let card of stack.cards" cdkDrag [cdkDragData]="card" (cdkDragMoved)="drag($event)" (cdkDragDropped)="drop($event)" >
          <h2>{{card.title}}</h2>
          <ion-label slot="end">{{card.order}}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-slide >
  </ion-slides>


<!--  <swiper-->
<!--    [config]="config" #swiper (swiper)="onSwiper($event)" (slideChange)="onSlideChange($event)">-->
<!--      <ng-template swiperSlide  ">-->
<!--  <div cdkDropListGroup >-->
<!--        <div cdkDropList="true" class="example-list" (cdkDropListDropped)="drop($event)" [cdkDropListData]="stack.cards" *ngFor="let stack of (this.stacks | async)" size="100%">-->
<!--         <app-card-preview *ngFor="let card of stack.cards" [card]="card" [selectedStack]="selectedStack"  [board]="board | async">-->
<!--         </app-card-preview>-->
<!--        </div>-->
<!--  </div>-->
<!--      </ng-template>-->
<!--  </swiper>-->
</ion-content>

<ion-content *ngIf="isLoading">
  <ion-list >
    <ion-list-header>
      <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
