<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="card">
      <ion-label>{{card.title}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" *ngIf="!isLoading">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title><app-inline-edit [(ngModel)]="card.title" [required]="true" type="text"
                                       (onChanged)="changeTitle($event)"></app-inline-edit></ion-card-title>
      <ion-card-subtitle>
        <ion-textarea #textareaDescription [hidden]="!descEditable" rows="6" [(ngModel)]="plainText"
                      placeholder="add description in markdown here..." (ionBlur)="onBlurDescription()">
        </ion-textarea>
        <div *ngIf="!descEditable" [innerHTML]="content" (click)="onFocusDescription()"></div>
        </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
<!--      <ion-grid >-->
<!--        <ion-row>-->
<!--          <ion-col size="4">-->
<!--            <ion-item id="open-popover2">-->
<!--              <ion-icon name="alarm-outline" slot="start"></ion-icon>-->
<!--              <ion-label *ngIf="dueDate">{{dueDate | date: 'short'}}</ion-label>-->
<!--              <ion-label *ngIf="!dueDate">add due date</ion-label>-->
<!--            </ion-item>-->
<!--          </ion-col>-->
<!--        </ion-row>-->
<!--      </ion-grid>-->
          <ion-list>
        <ion-item id="open-popover2">
          <ion-icon name="alarm-outline" slot="start"></ion-icon>
          <ion-label *ngIf="dueDate">{{dueDate | date: 'short'}}</ion-label>
          <ion-label *ngIf="!dueDate">add due date</ion-label>
        </ion-item>


        <ion-popover trigger="open-popover2">
          <ng-template>
            <ion-datetime #datetime id="datetime" [(ngModel)]="dueDate" (ionChange)="ionChange(this.dueDate)" show-clear-button="true" showDefaultButtons="true">
            </ion-datetime>
          </ng-template>
        </ion-popover>

        <ion-item>
          <ion-icon name="pricetags-outline"></ion-icon>
          <ion-select [compareWith]="labelPreselected" placeholder="Select labels" [multiple]="true"
                      (ionChange)="handleLabelChange($event)"
                      [ngModel]="card.labels">
            <ion-select-option *ngFor="let label of board.labels" [value]="label">{{label.title}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-icon name="people-outline"></ion-icon>
            <ion-select [compareWith]="labelPreselected" placeholder="Select assignees" [multiple]="true" disabled="true"
                        [ngModel]="card.assignedUsers">
              <ion-select-option *ngFor="let assignee of card.assignedUsers"
                                 [value]="assignee">{{assignee.participant.displayname}}</ion-select-option>
            </ion-select>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>


</ion-content>

<ion-content *ngIf="isLoading">
  <ion-list>
    <ion-list-header>
      <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
