.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

:host {
  .background-image {
    background: url('../../../assets/clouds.jpg') no-repeat 100% 100%;
  }
}
