.barcode-btn {
  text-align: center;
}

.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
  //background: url(../../../assets/clouds.jpg) 0 0/100% 100% no-repeat !important;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

ion-content {
  text-align:center
}
