<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-label translate="">boards</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge >
    <ion-fab-button disabled="true">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h1>Boards</h1>
  <ion-grid fixed *ngIf="!(isLoading | async)">
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let board of boards | async">
        <app-board-preview [board]="board"></app-board-preview>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h1>Upcomings</h1>
  <ion-grid fixed *ngIf="!(isLoading | async)">
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let upcoming of (upcomings | async)?.ocs?.data">
        <ion-card *ngIf="upcoming">
          <ion-item detail="true" routerLink="/boards/{{upcoming.boardId}}/stacks/{{upcoming.stackId}}/cards/{{upcoming.id}}">
            <ion-label>
              <h2>{{upcoming.title}}</h2>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="(isLoading | async)">
    <ion-list-header>
      <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
