.outer-ion-item {
  --border-width: 1px;
  margin: 5px;
  --border-radius: 20px;
  --inner-border-width: 0;
}

ion-card {
  margin: 0;
  --border-width: 0;
  --border-radius: 20px;
  border-bottom-width: 0;
  width: 100%;
}

ion-grid, ion-col {
  padding: 0;
}

ion-card-header {
  padding: 10px 0;
}

ion-card-content {
    padding: 0 0;
}

ion-chip {
  border-width: 0;
}

.inner-ion-item {
  --inner-border-width: 0;
}

ion-img {
  width:42px!important;
  height:42px!important;
}
