<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
      <ion-title *ngIf="card | async">{{ (card | async).title }}</ion-title>
    </ion-buttons>
    <ion-title>
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Boards</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{(card | async).type}}</ion-card-subtitle>
    <ion-card-title>{{(card | async).title}}</ion-card-title>

  </ion-card-header>
  <ion-card-content>
    <ion-item>
    <ion-toggle color="secondary" [(ngModel)]="toggleVal" checked="toggleVal" (ionChange)="convert()"></ion-toggle>
    </ion-item>
    <div [hidden]="!toggleVal"  [innerHTML]="content" ></div>
    <ion-item [hidden]="toggleVal">
      <ion-textarea rows="6" [(ngModel)]="plainText"  placeholder="Strat writing your markdown below..."></ion-textarea>

    </ion-item>


    <ion-chip *ngIf="(card | async).duedate" [outline]="true">
      {{(card | async).duedate | date: 'short'}}
    </ion-chip>

    <ion-chip *ngFor="let attachment of (card | async).attachments" [outline]="true" >
      <ion-icon name="attach-outline"></ion-icon>
      <ion-label>{{attachment.extendedData.info.basename}}</ion-label>
    </ion-chip>

    <ion-chip *ngFor="let label of (card | async).labels" [outline]="true">
      {{label.title}}
    </ion-chip>
  </ion-card-content>
</ion-card>

</ion-content>
