<ion-card *ngIf="card">
    <ion-item>
        <h1>
          <app-inline-edit [(ngModel)]="card.title" [required]="true" type="text" (onChanged)="changeTitle($event)"></app-inline-edit>
        </h1>
        <ion-avatar slot="end">
            <img src="https://gravatar.com/avatar/{{card.title}}?d=identicon&f=y">
        </ion-avatar>
    </ion-item>
    <ion-item>
        <p>{{card.lastModified * 1000 | date:'short':'+0200' }}</p>
        <ion-icon slot="start" name="timer-outline"></ion-icon>
    </ion-item>
    <ion-card-content>
        <ion-chip [ngStyle]="{'background-color': '#' + label.color, 'color':'#363232'}"
                  *ngFor="let label of card.labels">
            <ion-label>{{label.title}}</ion-label>
        </ion-chip>
    </ion-card-content>
</ion-card>
